@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

.logo {
    font-family: "Major Mono Display", monospace;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.server-connect {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.server-login {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    font-size: 0.8em;
    text-align: center;
    color: #ff5656;
}

input {
    font-family: "Roboto";
}

.server-connect p {
    text-align: center;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
}
.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
        to right,
        #b294ff,
        #57e6e6,
        #feffb8,
        #57e6e6,
        #b294ff,
        #57e6e6
    );
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}
.webflow-style-input input {
    flex-grow: 1;
    color: #eee;
    font-size: 1rem;
    line-height: 2.4rem;
    vertical-align: middle;
    padding-left: 0.4em;
}
.webflow-style-input input::-webkit-input-placeholder {
    color: #eee;
}
.webflow-style-input button {
    color: #eee;
    font-size: 1rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
    text-align: right;
    margin-right: 1em;
    width: 15%;
}
.webflow-style-input button:hover {
    color: #bfd2ff;
}
input {
    border-style: none;
    background: transparent;
    outline: none;
}
button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}
