body,
html {
    height: 100%;
    user-select: none;
}

html {
    overflow: hidden;
}

body {
    background: #333;
    color: #eee;
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titlebar {
    width: 100%;
    height: 36px;
    display: flex;
    background: linear-gradient(
        90.47deg,
        rgba(237, 140, 65, 0.28) -2.91%,
        rgba(89, 19, 228, 0.78) 101.13%
    );
    -webkit-app-region: drag;
    align-content: center;
}

.titlebar-title {
    display: flex;
    padding-left: 0.8em;
    align-items: center;
    font-family: "Verdana";
    font-size: 0.8em;
}

.titlebar .button {
    display: flex;
    align-items: center;
    width: 36px;
    justify-content: center;
    -webkit-app-region: no-drag;
    user-select: none;
    transition: all 0.2s;
    margin-left: auto;
}

.titlebar .button:hover {
    background: rgba(237, 140, 65, 0.15);
}

.content {
    padding: 16px;
    display: flex;
    height: 382px;
    flex-direction: column;
}

.loading {
    display: flex;
    justify-content: center;
}

.first-line {
    display: flex;
    height: 89%;
    width: 100%;
}

.chat-submit,
.chat-window,
.chat-textarea,
.users-online {
    border-radius: 8px;
}

.second-line {
    display: flex;
    height: 11%;
    width: 100%;
    margin-top: 16px;
}

.chat-window {
    display: flex;
    width: 75%;
    background: #eee;
    margin-right: 16px;
    flex-direction: column;
    padding: 0.4em;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users-online {
    display: flex;
    background: #eee;
    flex-direction: column;
    width: 25%;
}

.users-online-list {
    color: #333;
    font-size: 0.8em;
    padding-left: 0.8em;
}

.users-online-user {
    margin-top: 0.1em;
}

.users-online-user .fa {
    font-size: 0.7em;
    margin-right: 0.8em;
    vertical-align: middle;
}

.fa-circle.online {
    color: rgb(158, 241, 141);
}

.chat-submit {
    display: flex;
    background: #eee;
    width: 25%;
}

.chat-textarea {
    display: flex;
    background: #eee;
    width: 100%;
}

textarea {
    margin: 0px;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 1em;
    border: 0;
    box-sizing: border-box;
    white-space: pre-wrap;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Lato";
}

textarea:focus {
    outline: none;
}

button {
    width: 100%;
}

.chat-message {
    color: #333;
    height: fit-content;
    text-align: right;
    border-radius: 0.4em;
    padding: 0.5em;
    box-sizing: border-box;
    width: fit-content;
    margin-left: auto;
    user-select: text;

    padding-left: 2em;
    padding-right: 0.5em;
}

.chat-message.author {
    text-align: left;

    padding-left: 0.5em;
    padding-right: 2em;
    margin-left: 0;
}

.chat-message.marked {
    background: linear-gradient(
        90.47deg,
        rgba(237, 140, 65, 0.28) -2.91%,
        rgba(206, 194, 230, 0.78) 101.13%
    );
}

.chat-message-sender {
    font-weight: 600;
    font-size: 0.9em;
}

.chat-message-content {
    font-size: 0.8em;
    margin-top: 0.2em;
}

.chat-message-date {
    font-size: 0.68em;
    color: #8e8e8e;
    margin-top: 0.2em;
}

.marked .marked-username {
    font-weight: 700;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background: rgba(0, 0, 0, 0.06);
}

.notification {
    color: #a9a9a9;
    font-size: 0.7em;
    font-family: "Lato";
}

.notification-box {
    padding-left: 0.5em;
}

.online {
    font-weight: 700;
    font-family: "Lato";
}

.header {
    color: #333;
    padding: 0.8em;
    font-size: 0.9em;
    font-weight: 700;
    font-family: "Lato";
}
